@using MVCwebApp.ViewModels
@model BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection", false)
</head>
<body>
    <div>  
        <div style="float:left;text-align:left; width:48%">
            @{
                Html.RenderAction("GetAddNewLink");
                }
            </div>
        <div style="float:right;text-align:right; width:48%">
            Hello @Model.UserName
            <a href="~/Authentication/Logout">Logout</a>
        </div>
    </div>
    <hr />
    <div>@RenderSection("ContentBody")</div>
    @Html.Partial("Footer", Model.FooterData)
</body>
</html>
